/* Footer */

footer {
    background: linear-gradient(to bottom, #17549b, #0071f2, #ffffff);
    text-align: center;
    padding-bottom: 60px;
   h2 {
    color: $color-6;
    }
   p {
    color: $color-6;
     }
   a {
    color: $color-6;
     }
   a:hover {
    color: $color-2;
    }
  }
  
  /* Social Media */
  .social-media {
      display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30%;
    li {
      display: flex;
      justify-content: space-around;
    }
  }
  
  /* SVG Icons */
  .svg-inline--fa {
    font-size: 20px;
  }
  
  /* Footer Icons */
  .contact-info a {
    padding: 10px;
    display: inline-block;
    color: $color-3;
  }
  
  .contact-info a:hover {
    color: $color-2;
  }
  
  
  /* To Top Button */
  #toTopButton {
    display: inline-block;
    background-color: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    visibility: hidden;
    z-index: 1000;
  }
  #toTopButton:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: black;
  }
  #toTopButton:hover {
    cursor: pointer;
    background-color: #fff;
  }
  #toTopButton:active {
    background-color: #fff;
  }