$graduation-image: url(../../images/graduation.webp);
$color-1: #17549b; //Royal Blue
$color-2: #64a7f4; //Light Blue
$color-3: rgb(219, 219, 219); //Gray
$color-4: #0071f2; //Blue
$color-5: rgb(158, 204, 253); //Light Blue
$color-6: white; // White
$color-7: rgb(15, 61, 114); // Dark Blue

$color-8: #1cb5e0;
$color-9: #000046;

$text-color: rgb(226, 226, 226);
$bg-color: #17549b; //#5d5d5d;