a/* Old Color Palette
#2B2D42 - dark blue = color1
#8D99AE - light blue = color2
#EDF2F4 - blue/white = color3
#EF233C - red = color4
*/

/* New Color Palette
#C5D4E5 - Periwinkle or Light Gray
#7796BA - Wild Blue Yonder or Gray
#0071F2 - Navy Blue or Blue
#64A7F4 - Cornflower Blue or Light Blue
#17549B - Endeavour or Dark Blue
*/

:root {
  --color-1: #17549b;
  --color-2: #64a7f4;
  --color-3: rgb(219, 219, 219);
  --color-4: #0071f2;
  --color-5: rgb(158, 204, 253);
  --color-6: white;
  --color-7: rgb(15, 61, 114);
}

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: var(--color-4);
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

/* Download button */
.btn .download {
  text-decoration: none;
  background: var(--color-4);
  color: var(--color-6);
  padding: 10px;
  display: inline-block;
}

.btn:hover .download {
  color: var(--color-3);
  background: var(--color-7);
}

/* Header and Footer
-------------------------*/
header {
  background: #000046;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1cb5e0, #000046);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1cb5e0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--color-2);
  padding-top: 50px;
  position: relative;
  margin-bottom: 20px;
  padding: 100px;
  box-shadow: 0 10px 30px -5px #00000070;
}

header h1 {
  color: var(--color-6);
}

header h2 {
  color: var(--color-3);
}

header h1,
header h2 {
  margin: 0;
}

header p {
  color: var(--color-6);
}

.profile-img {
  border-radius: 50%;
}

.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  background: #2980b9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    var(--color-1),
    var(--color-4),
    #ffffff
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, var(--color-1), var(--color-4), #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* #2980B9  #6DD5FA*/

/* footer */
footer {
  text-align: center;
}

footer h2 {
  color: var(--color-6);
}

footer p {
  color: var(--color-6);
}

footer a {
  color: var(--color-6);
}

footer a:hover {
  color: var(--color-2);
}

.svg-inline--fa {
  font-size: 20px;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
  color: var(--color-3);
}

.contact-info a:hover {
  color: var(--color-2);
}

/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  /*z-index: 100;*/
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Work & Project Experience
-------------------------*/
.work {
  background: #2980b9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 10px 30px -5px #00000070;
}

.project {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 10px 30px -5px #00000070;
}

.work h2,
.project h2 {
  color: var(--color-4);
}

.work h3 a,
.project h3 a {
  color: Black;
}

h3 ~ p {
  margin: 0;
}

.job-description,
.project-description {
  margin-bottom: 5px;
}

.job-description p,
.project-description p {
  text-align: right;
}

.job-description p:first-of-type,
.project-description p:first-of-type {
  margin-top: 0;
}

.project .btn,
.work .btn {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Education & Skill
-------------------------*/
.education {
  color: white;
  background: linear-gradient(
      rgba(141, 153, 174, 0.8),
      rgba(141, 153, 174, 0.5)
    ),
    url(./images/Graduation.jpg) no-repeat fixed;
  background-size: cover;
  height: 350px;
  margin-bottom: 20px;
  padding: 60px 50px;
  box-shadow: 0 10px 30px -5px #00000070;
}

.education p {
  padding-top: 7px;
}

.skill {
  background-size: cover;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 10px 30px -5px #00000070;
}

.education-description {
  margin-bottom: 25px;
}

.education-description p {
  text-align: right;
  margin: 0;
}

.display-skills {
  padding: 0 16px;
}

.display-skills-items {
  float: left;
  width: 100%;
}

.display-topic {
  text-align: center;
}

.work h3,
.project h3,
.education h3 {
  min-width: 900px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Media Queries
-------------------------*/
@media (min-width: 991px) {
  .col-narrow {
    width: 30%;
    float: Left;
  }

  .profile-img {
    width: 30%;
    height: 350px;
    float: Left;
  }

  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}

@media (max-width: 990px) {
  header {
    text-align: center;
  }

  .col-narrow {
    width: 30%;
    float: Left;
  }

  .col-wide {
    width: 70%;
    float: Left;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 16px;
  }
  i {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    margin: 0px;
  }
  a,
  li {
    font-size: 12px;
  }
}

@media (min-width: 750px) {
  .display-skills-items {
    width: 33.33333%;
  }
}

@media (max-width: 749px) {
  .display-skills-items {
    text-align: center;
  }
  .col-narrow {
    width: 30%;
    float: Left;
  }

  .col-wide {
    width: 70%;
    float: Left;
  }
  .education h3 {
    min-width: 400px;
  }
}

@media (min-width: 330px) {
  header,
  .skill,
  .education,
  .work,
  .project {
    padding: 0px;
  }

  .education {
    background: linear-gradient(
        rgba(141, 153, 174, 0.8),
        rgba(141, 153, 174, 0.5)
      ),
      url(./images/Graduation.jpg) no-repeat fixed center;
  }
}
