@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
  margin: 0;
  padding: 0;

  font-family: "Product Sans";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import './partials/resets';

@import './partials/variables';

@import './partials/navBar';
@import './partials/main';

@import './partials/about';
@import './partials/skills';
@import './partials/experince';
@import './partials/projects';
@import './partials/education';
@import './partials/footer';

@import './partials/animtations';
@import './partials/mediaQueries';

@import './partials/contactMeForm';

/* App.css */

// TEST TAILWIND with SCSS
.App {
    width: 100vw;
    height: 100vh;
    @apply bg-green-500 flex items-center justify-center;
  
    &-inner {
      @apply bg-gray-900 text-white p-4;
    }
  }